.map-select.el-select-dropdown.el-popper {
  width: 180px;
}

.map-tab-datepicker.ivu-date-picker .ivu-select-dropdown {
  width: 380px;
}

.map-tab-datepicker.ivu-date-picker .ivu-date-picker-cells.ivu-date-picker-cells-year {
  width: 360px;
}

input.map-tabs-input::placeholder {
  padding-left: 8px;
}
