.select-trigger {
  background-color: transparent !important;
}
.select-trigger-inputting {
  border: transparent !important;
  box-shadow: none !important;
  width: auto !important;
}

.select-trigger-inputting .select-trigger-inputting__content {
  color: #6ad6ff !important;
  font-weight: 600 !important;
  width: auto !important;
  letter-spacing: .9px;
  line-height: 1.6rem;
}

.select-trigger-inputting .select-trigger-inputting__content div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 27px;
}

.select-trigger-inputting .select-trigger-inputting__placeholder {
  font-weight:500;
  font-size:14px;
  line-height: 27px;
  color: rgba(46, 46, 46, .7) !important;
}

.select-trigger-inputting .select-trigger-inputting__icon {
  color: rgba(46, 46, 46, .7) !important;
}

.select-popover .popover__content {
  width: 170px !important;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1) !important;
}

.select-selection .list .list__item__tail {
  display: none !important;
}
.select-trigger-inputting .select-trigger-inputting__content div {
  color: #6ad6ff !important;
  font-weight: 600 !important;
}

.select-trigger-inputting .select-trigger-inputting__icon {
  color: #6ad6ff !important;
}
