.ivu-select .ivu-select-selection {
  height: 50px;
  background-color: rgba(106, 214, 255, .02) !important;
  border-color: rgba(106, 214, 255, .12) !important;
}

.ivu-select .ivu-select-selection .ivu-select-placeholder {
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  color: rgba(255, 255, 255, .8);
}

.ivu-select .ivu-select-selection .ivu-select-selected-value {
  height: 50px;
  line-height: 50px;
  padding: 0 32px 0 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.ivu-select .ivu-select-selection .ivu-select-arrow {
  color: #ffffff;
}

.ivu-select .ivu-select-dropdown {
  background-color: #06172c;
  border-color: rgba(106, 214, 255, .12);
  margin-top: 18px;
}

.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item {
  color: rgba(106, 214, 255, 1);
  font-size: 16px !important;
  line-height: 40px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item:hover,
.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item.ivu-select-item-focus,
.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item.ivu-select-item-selected {
  color: rgba(106, 214, 255, 1);
  background-color: rgba(106, 214, 255, .04);
}

.el-date-editor .el-input__inner {
  height: 50px;
  background-color: rgba(106, 214, 255, .02);
  border-color: rgba(106, 214, 255, .12);
  color: #ffffff;
}

.el-date-editor .el-input__inner::placeholder {
  color: rgba(255, 255, 255, .8);
}

.el-picker-panel {
  margin-top: 30px !important;
  margin-left: 5px;
  width: 380px;
  background-color: #06172c;
  border-color: rgba(106, 214, 255, .12);
}

.el-picker-panel .popper__arrow {
  display: none;
}

.tabs .tab-navs-container {
  border: none !important;
}

.tabs .tab-navs .tab-nav {
  padding: 8px 0 10px;
}

.tabs .tab-nav::before {
  border: 1px solid transparent;
}

.tabs .tab-nav.tab-nav-active::before {
  background-color: rgba(106, 214, 255, 1) !important;
}

.tabs .tab-navs .tab-nav-label {
  color: rgba(106, 214, 255, 1);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
