.ivu-select .ivu-select-selection {
  height: 50px;
  background-color: rgba(106, 214, 255, .02) !important;
  border-color: rgba(106, 214, 255, .12) !important;
}

.ivu-select .ivu-select-selection .ivu-select-placeholder {
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  color: rgba(255, 255, 255, .8);
}

.ivu-select .ivu-select-selection .ivu-select-selected-value {
  height: 50px;
  line-height: 50px;
  padding: 0 32px 0 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
}

.ivu-select .ivu-select-selection .ivu-select-arrow {
  color: #ffffff;
}

.ivu-select .ivu-select-dropdown {
  background-color: #06172c;
  border-color: rgba(106, 214, 255, .12);
  margin-top: 18px;
}

.ivu-select-dropdown .ivu-date-picker-header {
  border-color: rgba(106, 214, 255, .12);
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  color: #ffffff;
}

.ivu-select-dropdown .ivu-picker-panel-body .ivu-picker-panel-icon-btn {
  color: rgba(255, 255, 255, .8);
  margin-top: 8px;
}

.ivu-select-dropdown .ivu-picker-panel-body .ivu-picker-panel-icon-btn:hover {
  color: rgba(106, 214, 255, .6);
}

.ivu-select-dropdown .ivu-picker-panel-body .ivu-date-picker-header-label {
  color: #ffffff;
}

.ivu-date-picker-cells  .ivu-date-picker-cells-cell {
  margin: 12px 24px;
}

.ivu-date-picker-cells  .ivu-date-picker-cells-cell:hover {
  color: #6ad6ff;
}

.ivu-date-picker-cells  .ivu-date-picker-cells-cell,
.ivu-date-picker-cells  .ivu-date-picker-cells-year span em {
  width: 68px;
  height: 34px;
  line-height: 34px;
  color: #4b9bbe;
  font-size: 16px;
  text-align: center;
}

.ivu-date-picker-cells-cell:hover em {
  background-color: transparent;
}

.ivu-date-picker-cells .ivu-date-picker-cells-cell-focused,
.ivu-date-picker-cells .ivu-date-picker-cells-cell-selected {
  background-color: #6ad6ff;
  color: #ffffff;
}

.ivu-date-picker-cells .ivu-date-picker-cells-cell-selected em {
  background-color: transparent;
}

.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item {
  color: rgba(106, 214, 255, 1);
  font-size: 16px !important;
  line-height: 40px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item:hover {
  font-weight: 500;
}

.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item:hover,
.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item.ivu-select-item-focus,
.ivu-select-dropdown .ivu-select-dropdown-list .ivu-select-item.ivu-select-item-selected {
  color: rgba(106, 214, 255, 1);
  background-color: rgba(106, 214, 255, .04);
}

.ivu-date-picker .ivu-date-picker-rel .ivu-input {
  height: 50px;
  background-color: rgba(106, 214, 255, .02);
  border-color: rgba(106, 214, 255, .12);
  color: #ffffff;
  font-size: 16px;
}

.ivu-date-picker .ivu-date-picker-rel .ivu-input::placeholder {
  color: rgba(255, 255, 255, .8);
}

.ivu-date-picker .ivu-input-prefix i, .ivu-date-picker .ivu-input-suffix i {
  line-height: 50px;
}

.ivu-date-picker .ivu-select-dropdown {
  margin-top: 10px !important;
  background-color: #06172c;
  border-color: rgba(106, 214, 255, .12);
}

.supply-datepicker.ivu-date-picker .ivu-select-dropdown {
  width: 380px;
  border: 1px solid rgba(106, 214, 255, .12);
}

.supply-datepicker.ivu-date-picker .ivu-date-picker-cells.ivu-date-picker-cells-year {
  width: 360px;
}

.tabs .tab-navs-container {
  border: none !important;
}

.tabs .tab-navs .tab-nav {
  padding: 8px 16px 10px;
}

.tabs .tab-nav::before {
  border: 1px solid transparent;
}

.tabs .tab-nav.tab-nav-active::before {
  background-color: rgba(106, 214, 255, 1) !important;
}

.tabs .tab-navs .tab-nav-label {
  color: rgba(106, 214, 255, 1);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
